@page "{id:int?}"
@model PersonDatabaseWebApplication.Pages.People.DeteleModel
@{
	ViewData["Title"] = "Odstranit";
}
<form method="post">
	<div class="form-group">
		<p>Odstranit @Model.PersonToDelete.FullName</p>
		<input type="submit" class="btn btn-success" value="Odstranit" />
		<a asp-page="/Index" class="btn btn-danger">Zpátky</a>
	</div>
</form>
